# Large sample data files
sample_data/*.bam
sample_data/*.bam.bai
sample_data/*.fna
sample_data/*.gtf

# Node input BAM files
01_featurecounts/*.bam
01_featurecounts/*.gtf

# Workflow outputs
*/output/
