[submodule "workflows/workflow-019"]
	path = workflows/workflow-019
	url = https://github.com/SauravKulkarni3999/cyclic-amp-design-pipeline.git
[submodule "workflows/workflow-021"]
	path = workflows/workflow-021
	url = https://github.com/rogerwq/mvrbind-workflow.git
[submodule "workflows/workflow-022"]
	path = workflows/workflow-022
	url = https://github.com/rogerwq/rinalmo-workflow.git
[submodule "workflows/workflow-023"]
	path = workflows/workflow-023
	url = https://github.com/AliGhiami/ai-admet-chiral-workflow.git
